name: CI
on:
  schedule:
    - cron:  '* */5 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [4.x, 5.x, 6.x, 7.x]
      max-parallel: 4
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/checkout@v2
      - uses: cirruslabs/cirrus-action@v2

